<header>
  <div class="header__container">
    <div class="header__wrapper">
      <a class="logo" routerLink="/home">Elim Chan</a>
      <nav class="primary">
        <div class="scroll-inner">
          <a class="logo-mobile" href="https://elimchan.com" title="Elim Chan">Elim Chan</a>
          <ul id="menu-primary" class="menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page" routerLinkActive="current-menu-item">
              <a routerLink="about">About Elim</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page " routerLinkActive="current-menu-item">
              <a routerLink="timeline">Timeline</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page ">
              <a routerLink="timeline">Concerts</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page ">
              <a routerLink="timeline">Press</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page ">
              <a routerLink="">Media
                gallery</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page ">
              <a routerLink="contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="nav-toggle closed js-nav-toggle">
      <div class="nav__open"> <span></span> <span></span> <span></span></div>
      <div class="nav__close"> <span></span> <span></span></div> <svg class="nav__svg" xmlns="http://www.w3.org/2000/svg">
        <g>
          <ellipse ry="20" rx="20" cy="21" cx="21" stroke-width="5" stroke="transparent" fill="transparent"></ellipse>
          <ellipse ry="20" rx="20" class="nav__circle" cy="21" cx="21" stroke-width="2" stroke="rgba(255,255,255,0.2)"
            fill="transparent"></ellipse>
        </g>
      </svg>
    </div>
  </div>
</header>
